 <html>
	<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type='text/javascript'>
$(function(){
	
	var pathname = window.location.pathname;
	
		
	$('#randomWkout').attr('action', pathname+'random/');
	
	$('#addWkout').attr('action', pathname+'addworkout/');


});


</script>

</head>

<body>
Welcome to your WorkMe home page, {{user.name}}

<p> Here are your workouts</p>
<ul>
    {% for workout in user.workout_set.all %}
    <table>
        
        <tr id="{{workout.id}}">
            {% url detail user.pk workout.id as detail %}

            <td><li><a href="{{detail}}" class="workout">{{ workout.name }}</a></li> </td>
            <td><a href="{% url workouts_app.views.delworkout user.pk workout.id %}"
                    class="del-wkout" id="del-{{workout.id}}"> <img 
                    src=
                    "http://www.cardealers.pk/App_Themes/Default/Images/Icons/delete_icon.png"> </a> 
            </td>
        </tr>
{% endfor %}
    </table>
</ul>

<FORM id='addWkout' METHOD="LINK" ACTION= >
<INPUT TYPE="submit" VALUE="add workout!">
</FORM>

<FORM id='randomWkout' METHOD="LINK" ACTION= >
<INPUT TYPE="submit" VALUE="pick a random workout!">
</FORM>
</body>





</html>



